#slider {
    .react-carousel {
        padding-top: 100px;
        padding-bottom: 100px;

        .foncolor {
            background-size: cover;
            background-position: center right;
            background-repeat: no-repeat;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            z-index: -1;

            &::before {
                content: '';
                position: absolute;
                top: 0;
                bottom: 0;
                right: 0;
                left: 0;
                background-image: linear-gradient(#131313, #131313f3 11%);
            }

            &.light::before {
                background-image: linear-gradient(#ffffff, #ffffffeb 11%);
            }
        }
    }

    .swiper {
        width: 100%;
        height: 100%;
    }

    .swiper-slide {
        background-position: center;
        background-size: cover;
    }

    .swiper-slide img {
        display: block;
        width: 100%;
    }

    --swiper-theme-color: #f44336 !important;

    .swiper-pagination-bullet {
        background-color: var(--swiper-theme-color) !important;
        opacity: 1 !important;
    }

    .swiper-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic,
    .swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
        left: 60% !important;
    }
}
