#footer {
    padding-top: 50px;

    &.footerfon {
        background-color: #101010;
    }

    &.footer-fon {
        background-color: #efefef;
    }

    .media {
        width: 24px !important;
        margin-right: 20px;
    }
}
