#pcs {
    .stock {
        position: absolute;
        color: #fff;
        // top: 65px;
        transform: rotate(315deg);
        font-size: 20px;
    }

    .left-78 {
        left: 78px;
    }

    .left-88 {
        left: 88px;
    }

    .swiper {
        margin: 0;
        width: unset !important;
        height: unset !important;
    }
}
