#pcs {
    .stock {
        position: absolute;
        color: #fff;
        // top: 65px;
        transform: rotate(315deg);
        font-size: 20px;
    }

    .left-78 {
        left: 78px;
    }

    .left-88 {
        left: 88px;
    }

    .swiper {
        margin: 0;
        width: unset !important;
        height: unset !important;
    }

    span.swiper-pagination-bullet,
    span.swiper-pagination-bullet.swiper-pagination-bullet-active {
        background-color: red;
    }

    // .css-r1hick-MuiGrid-root > .MuiGrid-item {
    //     padding-top: 20px;
    // }
}
